---
import type { Website } from '../types';

export interface Props {
	website: Website;
	lazy: boolean;
}

const { website, lazy } = Astro.props;
const { id, url, title } = website;
---

<div class="card flex flex-col bg-neutral-800 rounded-md overflow-hidden border-2 border-neutral-800">
	<a
    href={url}
    target="_blank"
    aria-label={id + "-link"}
  >
		<div class="image-container rounded-md overflow-hidden relative">
			<picture>
				<source
					srcset={`/web-inspirations-astro/images/@2x/${id}.jpg`}
					type="image/jpeg"
					media="(min-width: 420px)"
					width="1440"
					height="820"
				/>
				<source
					srcset={`/web-inspirations-astro/images/@4x/${id}.jpg`}
					type="image/jpeg"
					media="(min-width: 640px)"
					width="2880"
					height="1640"
				/>
				<img
					src={`/web-inspirations-astro/images/@1x/${id}.jpg`}
					alt={title}
					class="w-full h-auto object-cover transition-all duration-150 bg-neutral-950 text-neutral-200 text-xs"
					width="720"
					height="410"
					loading={lazy ? "lazy" : "eager"}
				/>
			</picture>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-5 h-5 absolute top-2 right-2 text-neutral-200 opacity-0 sm:transition-opacity sm:duration-150 hidden sm:block"
      >
        <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd" />
      </svg>
		</div>
	</a>
  <div class="card-footer text-neutral-200 p-2 text-sm">
    <h3 class="line-clamp-1" title={title}>{title}</h3>
  </div>
</div>

<style>
  @media (min-width: 640px) {
    a:hover img {
      filter: brightness(0.5);
    }

    a:hover svg {
      opacity: 1;
    }
  }
</style>
